# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dist for browser umd minified files
/dist

# implementation via require
/lib

# Dependency directories
/node_modules

# test archives build via npm pack
/*.tgz

# dotenv environment variables file
.env
